
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'IBM Plex Sans', sans-serif;
}

a{ 
  text-decoration: none;
  color: var(--text-primary);
}

ul{
  text-decoration: none;
}

li{
  list-style: none;
}

h1,h2,h3,h4,h5,h6{
  cursor: pointer;
  font-weight: 500;
}

:root{
  /* font */
  --ibm: 'IBM Plex Sans',sans-serif;
  --display:'Anton', sans-serif;
  /* color */
  --offWhite: #f5f5f5;
  --text-secondary: #707072;
  --text-primary: #111111;
  --text-white: #ffffff;

  /* size  */
  --font-span: 8px;
  --font-xs: 12px;
  --font-sm: 14px;
  --font-body: 16px;
  --font-display-1:76px;
  --font-h3: 24px;
  --font-h4: 20px;
}

/* Utility classes  */
.display{ font-family: var(--display);}
.flex{ display: flex;}
.space-between{ justify-content: space-between;}
.justify-center{ justify-content: center;}
.inline-flex{ display: inline-flex;}
.inline-block{ display: inline-block;}
.align-center{align-items: center;}
.relative{ position: relative;}
.absolute{ position: absolute;}
.text-center{ text-align: center;}


.bg-1{background-color: var(--offWhite);}
.text-primary{ color: var(--text-primary);}
.text-secondary{ color: var(--text-secondary);}
.text-underline{ text-decoration: underline;}
.text-white{ color: var(--text-white);}

.font-span{ font-size: var(--font-span);}
.font-xs{ font-size: var(--font-xs);}
.font-sm{ font-size: var(--font-sm);}
.font-body{ font-size: var(--font-body);}
.font-display-1{ font-size: var(--font-display-1);}
.font-h3{ font-size: var(--font-h3);}
.font-h4{ font-size: var(--font-h4);}

.width-full{ width: 100%;}
.width-half{ width: 50%;}
.height-full{ height: 100%;}

.gap{ gap: 8px;}
.invisible{ visibility: hidden;}
.wrapper{
  padding: 0 38px 0 36px;
}

.weight-400{ font-weight: 400;}
.weight-500{ font-weight: 500;}
.weight-700{ font-weight: 700;}


/* Button classes */
.btn{
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: 500;
}

.btn-black{
  background-color: var(--text-primary);
  color: var(--offWhite);
}
.btn-black:hover {
  background-color: rgba(17, 17, 17, .5);
}

.btn-white:hover {
  background-color: rgb(158, 158, 160);
}

.btn-white {
  background-color: var(--offWhite);
  color: var(--text-primary);
}




/* header  */
header .header_logo li {
  padding: 8px;
}

header .header_links li {
  padding-left: 8px;
}

#mj-logo{
  width: 24px;
  height: auto;
}

header .header_links li > a{
  font-weight: 500;
}

.dropmenu{
  position: absolute;
  overflow: hidden;
  z-index: 12;
  transition: all .2s linear;
  top: 44px;
  right: 12%;
  max-height: 0;
  border-radius: 8px;
}

.dropmenu-content{
  padding: 24px 24px 24px 16px;
  background-color: var(--text-white);
}

.dropmenu-content-title a{
  font-size: var(--font-body);
  color: var(--text-primary);
  margin-bottom: 12px;
  font-weight: 500;
}

.dropmenu-content-link a{
  color: var(--text-secondary);
  font-size: var(--font-sm);
  font-weight: 400;
}

.dropmenu-content-title, .dropmenu-content-link{
  padding: 4px 8px;
}

.header_links > li:hover .dropmenu{
  max-height: 100%;
}
/* ? header end */



/* navigation  */
nav{
  z-index: 5;
}
.nav .nav-links{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav .nav-links > li {
  padding: 12px;
  font-weight: 500;
}

.nav-links > li:hover{
  border-bottom: 2px solid var(--text-primary);
}

.nav-links-dropbar{
  position: absolute;
  background-color: var(--text-white);
  overflow: hidden;
  z-index: 10;
  width: 100vw;
  transform: translateX(-35%);
  height: auto;
  max-height: 0;
  top: 100%;
  left: 0;
  transition: all .2s linear;
}

.nav-links > li:hover .nav-links-dropbar{
  max-height: 100vh;
  padding: 36px;
  overflow: auto;
}

.nav-links-dropbar-cont{
  max-width: 1360px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.menu-column{
  width: 17%;
  margin-bottom: 24px;
}

.menu-column-title a{
  font-weight: 500;
  font-size: var(--font-body);
  color: var(--text-primary);
  margin-bottom: 12px;
}

.menu-column-link a{
  font-weight: 400;
  font-size: var(--font-sm);
  color: var(--text-secondary);
  margin-top: 8px;
  margin-bottom: 6px;
}

.menu-column-link a,.menu-column-title a{
  display: inline-block;
}

.menu-column > ul{
  padding-bottom: 24px;
}

.nav ul>div>span {
  top: 24px;
  left: 1060px;
}

.nav ul> div> input{
  padding: 12px 38px;
  height: 40px;
  width: 180px;
  border-radius: 80px;
  font-weight: 500;
  color: #dedede;
}


.nav .icon .search-bar input {
  border: none;
  outline: none;
}

.nav .icon li{
  padding: 6px;
}

.input{
 color: #85858a; 
}
/* navigation end */



/* ads slider  */
.ads-slider > ul{
  padding-top: 8px;
  padding-bottom: 8px;
}

/* ? ads slider end  */



/* Hero section  */
.hero{
  margin-top: 36px;
}

.img-wrapper>img{
 width: 100%;
 max-width: 100%;
 height: auto;
 object-fit: contain;
 object-position: center;
}

.fig-li-cover{
  top: 0;
  left: 0;
}


.hero figcaption{
  margin-top: 48px;
}

.hero-subject{
  margin: 0 auto;
}

.hero-subject h1{
  display: flex;
  justify-content: center;
  font-family: var(--display);
  line-height: 1;
  font-weight: 500;
}

.hero-subject p{
  margin-top: 28px;
}

.hero-button{
  margin: 24px 0 auto;
  justify-content: center;
  font-weight: 500;
  z-index: 3;
  flex-wrap: wrap;
}


/* ? Hero section end  */


/* Trending  */
section{
  margin-top: 48px;
}

section .sect-header h3{
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 500;
}

.ct-item{
  max-width: 1378px;
  margin: 0 auto;
}

.sect-header, .trending-text {
  padding-top: 12px;
  padding-bottom: 12px;
}

/* ? Trending end */


/* Featured */
.over-l{
  text-align: left;
  bottom: 12%;
}

.ct-item-2{
  max-width: 1332px;
  margin: 0 auto;
}

.figc1, .figc2{
  left: 8%;
}

.f-p{
  margin-bottom: 8px;
}

.f-h3{
  margin-bottom: 24px;
}  
 
.f-gap{
  gap: 12px;
}
/* ?Featured end  */


/* Always Iconic */
.always-container{
  overflow-x: scroll;
  transition: all .1ms linear;
}

.slider-image-wrapper{
  flex-shrink: 0;
}

.Always{
  z-index: 2;
}
/* ?Always Iconic end */


/* Shop by Sport */
.shop-container{
  overflow-x: scroll;
  overflow-y: hidden;
  transition: all .1ms linear;
}

.shop-text{
  padding-top: 20px;
  margin-bottom: 8px;
}

.shop-text h2{
  font-weight: 500;
  margin-bottom: 16px;
}

.shop-text p{
  font-weight: 400;
}

.shop-btn{
  margin-top: 24px;
}

.shop-btn a{
  border-bottom: 1px solid var(--text-primary);
  font-weight: 500;
}
/* ?Shop by Sport end */


/* New Fall Style  */
.newfall-text{
  margin: 12px 16px 0px 0px;
}

.fall-container{
  overflow-x: scroll;
  /* overflow-y: hidden; */
  transition: all .1ms linear;
}

/* ?New Fall Style end */


/* new membership */
.membership-container{
  overflow-x: scroll;
  transition: all .1ms linear;
}

/* ?new membership */






@media only screen and (max-width:960px) {
  .header{
    display: none;
  }

  .nav-links{
    display: none;
  }

  .figc1, .figc2{
    transform: scale(0.8);
    left: 2%;
  }
  
  

}


@media only screen and (max-width:660px) {
  .hero-text h1{
    transform: scale(0.6);
  }

  .trending-container ul, .featured-container ul{
    flex-direction: column;
  }

  .hero-text, .hero-subject{
    width: 100%;
  }

  .trending-text h2{
    transform: scale(0.9);
  }
}